*{
	padding:0;
	margin: 0;
	font-size: 14px;
	color: #333;

}
body{
	line-height: 22px;
}
.top-wrapper{
	width: 100%;
	height: 50px;
	background-color: #fafafa;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    
}
nav ul{	
	list-style: none;
	text-align: center;
	margin: 0 500px;
	padding: 0;
	width: 50%;
	
	left: 100%;
}
nav ul li{
	display: inline;
	float: left;
	line-height: 50px;
	width: 25%;
}
nav ul li a{
	text-decoration: none;
	display: block;
	height: 50px;
	width: 100%;
}
nav ul li a:hover{
	opacity: 0.7;
	filter: alpha(opacity = 70);
}
.content{
	width: 1024px;
	margin:  35px auto 0;
}
.pic-wrapper{
	width: 1024px;
	height: 300px;
	margin: 30px 0 18px ;
	overflow: hidden;
}
.active{
	width:744px;
	height: 700px;
	background: #fff;
	float: left;

}
.left-content{
	background: #00b38a;
	width: 260px;
	height: 700px;
	margin-left: 20px;
	float:left;
}
footer{
	background: #fff;
	height: 67px;
	min-width: 1024px;
	clear: both;
	border-top: 1px solid #ebebeb;
	text-align: center;
	position: relative;
	z-index: 1001;
}
.share-group li{
	display: inline-block;
	padding: 10px;
	font-size:30px;
	letter-spacing: 10px;
	margin-top: 10px;
}
.biaozhi{	
	padding: 20px;
}
#active_new
{
	width: 744px;
	height: 420px;
}

#active_new .item_new_list
{
	zoom:1;
}

ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#active_new .item_new_list li
{
	width: 740px;
	padding: 28px  32px;
	height: 200px;
	border: 1px solid  #e8e8e8;
	margin-bottom: 20px;
	position: relative;
}

.fl
{
	float: left;
}
img
{
	border: 0;
	vertical-align: top;
	display: inline-block;
}

.fr
{
	float: right;
}

#active_new .item_new_list li .item_new_cont dd
{
	width: 500px;
	height: 130px;

}

#active_new .item_new_list li .item_new_cont dd .introduce
{
	font-size: 16px;
    font-weight: 700;
    margin: 14px 0 18px;
    
}

dl,dt,dd
{
	margin: 0;
}

 .fr h3
{
	
	line-height: 40px;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	
}

#active_new .item_new_list li .item_new_cont .fr h3 a
{
	color: #333;
	font-size: 24px;
}

a
{
	text-decoration: none;
}

#active_new .item_new_list li .item_state
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	height: 44px;
	line-height: 44px;
	background-color: #fafafa;
}

#active_old
{
	width: 744px;
	height: 200px;
}